<header class="contenedor-header">
  <div class="contenedor-header__logo">
    
    <img class="icono-header" src="assets/icons/corazon.svg" alt="Logo" />
    <span class="material-symbols-outlined">
        favorite
        </span>
  </div>
  <div class="contenedor-header__menu">
    <ul>
      <li><a class="text-header" href="#">Inicio</a></li>
      <li><a class="text-header" href="#">Nosotros</a></li>
      <li><a class="text-header" href="#">Servicios</a></li>
      <li><a class="text-header" href="#">Contacto</a></li>
    </ul>
    
  </div>
</header>
