.contenedor-header{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 18px 31px 18px 31px;
    position: sticky;
    width: auto;
    z-index: 50;
    top: 0;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
/* li a{
    margin: 0 16px;
    text-decoration: none;
} */

.text-header{
    color: #E7FFFA;
    font-family: 'OnestRegular';
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 5px;
}

.text-header:hover{
    color: #00BA95;
    background-color: #4141412f;
    padding: 5px;
    border-radius: 5px;
}
.icono-header{
    display: flex;
    align-items: center;
    color: #E7FFFA;
    font-size: 20px;
    margin-right: 8px;
    
}

#header-nav {
    animation: blur linear both;
    animation-timeline: scroll(root block);
}
@keyframes blur {
    0% {
        box-shadow: 0 5px 50px -5px #0000001a,0 0 0 1px #0000004d;
        background: rgba(0, 26, 40, 0.562);
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px)
    }
    100% {
        box-shadow: 0 5px 50px -5px #00251d1a,0 0 0 1px #0127224d;
        background: rgba(0, 26, 40, 0.658);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px)
    }
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} */

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #E7FFFA;
    max-width: 920px;
    border-radius: 30px;
    padding: 8px;
}

@media (min-width: 640px) {
    .sm\:mt-0 {
        margin-top:0
    }

    .sm\:text-center {
        text-align: center
    }
}

@media (min-width: 768px) {
    .md\:me-6 {
        margin-inline-end:1.5rem
    }

    .md\:flex {
        display: flex
    }

    .md\:size-6 {
        width: 1.5rem;
        height: 1.5rem
    }

    .md\:items-center {
        align-items: center
    }

    .md\:justify-between {
        justify-content: space-between
    }

    .md\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }

    .md\:py-2 {
        padding-top: .5rem;
        padding-bottom: .5rem
    }

    .md\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }

    .md\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }
}


/* @media (min-width: 1280px) {
    .contenedor-header{
        width:1120px
    }
} */
