<section>
  <div class="info-contenedor">
    <picture class="contenedor-imagen">
      <img class="img-perfil" src="/assets/img/YESSENIA.png" alt="Yessenia" />
    </picture>
    <article class="descripcion">
      <h1>Hola, soy Yessenia</h1>
      <p class="texto-descripcion">
        Dessarrolladora web jr. y diseñadora gráfica con +3 años de experiencia,
        actualmente enfocada en creación y diseño de aplicaciones web.
      </p>
      <div class="contenedor-botones-info">
        <a class="mi-button">
          <svg
            fill="#fff"
            class="icons"
            width="256"
            height="256"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid"
            viewBox="0 0 256 256"
          >
            <path
              d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
              fill="#0A66C2"
            />
          </svg>

          Linkeding</a
        >
        <a class="mi-button">GitHub</a>
        <a class="mi-button">Resume</a>
        <a class="mi-button" href="mailto:yesseniavillarte&#64;gmail.com"
          >Email</a
        >
      </div>
    </article>
  </div>

  <section>
    <h2>Sobre mí</h2>
    <p>
      Desde los 16 años he estado involucrada en el mundo de la tecnología, 
    </p>
    <section>
      <h2>Habilidades</h2>
      <p>
        En el mundo de la tecnología nunca se termina de aprender, sin embargo,
        durante mi trayecto he aprendido y trabajado con estas herramientas:
      </p>
      <app-habilidades></app-habilidades>
    </section>

    <section id="experiencia">
      <h2>Experiencia</h2>
      <app-experiencia></app-experiencia>
    </section>
    <section id="proyectos">
      <h2>Proyectos Destacados</h2>
      <app-cards-proyectos></app-cards-proyectos>
    </section>

    <section>
      <h2>Habilidades</h2>
      <ul>
        <li>Desarrollo web</li>
        <li>Programación en diversos lenguajes (ej. Java, Python)</li>
        <li>Resolución de problemas</li>
        <!-- Agrega más habilidades según sea necesario -->
      </ul>
    </section>
  </section>

  <h2>Contacto</h2>
  <p>
    Puedes contactarme a través de mi correo electrónico:
    <a href="mailto:tucorreo&#64;gmail.com">yesseniavillarte&#64;gmail.com</a>
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam?
    Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque
    sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint
    voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt
    earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit
    architecto?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam?
    Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque
    sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint
    voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt
    earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit
    architecto?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam?
    Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque
    sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint
    voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt
    earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit
    architecto?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam?
    Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque
    sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint
    voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt
    earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit
    architecto?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam?
    Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque
    sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint
    voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt
    earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit
    architecto?
  </p>
</section>
