.img-perfil{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    
}



.info-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px;
}
.experiencia-contenedor{
    margin-bottom: 60px ;
}
.contenedor-imagen{
    
    display: flex ;
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
    
}

.descripcion{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 26px;
}
.contenedor-botones-info{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.mi-correo{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    font-family: 'OnestLight';
    font-size: 14px;
    
}

.mi-correo:hover{
    color: #00BA95; 
    cursor: pointer;
}
/* Media query para pantallas de 600px o más */
@media (min-width: 640px) {
    .info-contenedor {
        flex-direction: row; /* Cambiar a fila en pantallas más grandes */
    }
    .contenedor-imagen{
        
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .descripcion{
        justify-items: flex-start;
        text-align: start;
    }
    .contenedor-botones-info{
        justify-content: flex-start;
    }
    .mi-correo{
        justify-content: flex-start;
    }
}
.texto-descripcion{
    font-size: 18px;
}


.mi-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1.5px solid #00BA95;
    border-radius: 10px;
    background-color: rgba(0, 6, 22, 0.281);
    margin: 8px 0;
    font-family: 'OnestThin';
    
}
.mi-button:hover{
    background-color: #00ba952a;
    color: #fff;
    cursor: pointer;
    animation: ease-in 2s;
}
.icons{
    width: 20px; 
    height: 20px;
    margin-right: 10px;
  }

svg{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
