<section>
    <div class="info-contenedor">
        <picture class="contenedor-imagen">
            <img class="img-perfil" src="/assets/img/YESSENIA.png" alt="Yessenia" >
        </picture>
        <article class="descripcion">
            <h1>Hola, soy Yessenia</h1>
            <p class="texto-descripcion">
                Dessarrolladora web jr. y diseñadora gráfica con +3 años de experiencia, actualmente enfocada en creación y diseño de aplicaciones web.
            </p>
        </article>
    </div>
    
    
    <section>
        <h2>Conoce más sobre mí</h2>
        <p>Hola, soy Yessenia, una apasionada desarrolladora de software con experiencia en diversos proyectos.</p>

        <h2>Proyectos Destacados</h2>

        <section><app-cards-proyectos></app-cards-proyectos></section>

        <section>
            <h2>Habilidades</h2>
            <ul>
                <li>Desarrollo web</li>
                <li>Programación en diversos lenguajes (ej. Java, Python)</li>
                <li>Resolución de problemas</li>
                <!-- Agrega más habilidades según sea necesario -->
            </ul>
        </section>
    </section>

    <h2>Contacto</h2>
    <p>Puedes contactarme a través de mi correo electrónico: <a href="mailto:tucorreo&#64;gmail.com">yesseniavillarte&#64;gmail.com</a></p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam? Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit architecto?

    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam? Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit architecto?
        
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam? Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit architecto?
        
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam? Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit architecto?
        
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam? Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit architecto?
        
    </p>
</section>