<section>
  <div class="info-contenedor">
    <picture class="contenedor-imagen">
      <img class="img-perfil" src="/assets/img/YESSENIA.png" alt="Yessenia" />
    </picture>
    <article class="descripcion">
      <h1>Hola, soy Yessenia</h1>
      <p class="texto-descripcion">
        Dessarrolladora web jr. y diseñadora gráfica con +3 años de experiencia,
        actualmente enfocada en creación y diseño de aplicaciones web.
      </p>
      <div class="contenedor-botones-info">
        <button>Linkeding</button>
        <button>GitHub</button>
        <button>Resume</button>
        <a class="mi-button" href="mailto:yesseniavillarte&#64;gmail.com"
          >Email</a
        >
      </div>
    </article>
  </div>

  <section>
    <h2>Conoce más sobre mí</h2>
    <p>
      Comencé mi trayectoria en el mundo de la tecnología a los 16 años,
      explorando inicialmente el diseño gráfico. Esta elección, más tarde, se
      convirtió en un pilar fundamental para respaldar mi carrera en
      informática. Desde entonces, he participado en diversos proyectos donde se
      me ha brindado la oportunidad de fusionar mis conocimientos, contribuyendo
      así a mi desarrollo actual.
    </p>
    <p>
      Hasta el día de hoy, he explorado y empleado diversas tecnologías en el
      ámbito del desarrollo y diseño web, lo que ha contribuido a mi crecimiento
      y mejora continua en este campo.
    </p>
    <section>
      <h2>Habilidades</h2>
      <app-habilidades></app-habilidades>
    </section>

    <section id="experiencia">
      <h2>Experiencia</h2>
      <app-experiencia></app-experiencia>
    </section>
    <section id="proyectos">
      <h2>Proyectos Destacados</h2>
      <app-cards-proyectos></app-cards-proyectos>
    </section>

    <section>
      <h2>Habilidades</h2>
      <ul>
        <li>Desarrollo web</li>
        <li>Programación en diversos lenguajes (ej. Java, Python)</li>
        <li>Resolución de problemas</li>
        <!-- Agrega más habilidades según sea necesario -->
      </ul>
    </section>
  </section>

  <h2>Contacto</h2>
  <p>
    Puedes contactarme a través de mi correo electrónico:
    <a href="mailto:tucorreo&#64;gmail.com">yesseniavillarte&#64;gmail.com</a>
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam?
    Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque
    sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint
    voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt
    earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit
    architecto?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam?
    Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque
    sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint
    voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt
    earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit
    architecto?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam?
    Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque
    sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint
    voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt
    earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit
    architecto?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam?
    Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque
    sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint
    voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt
    earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit
    architecto?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, quisquam?
    Distinctio eaque mollitia dolor ut sit laudantium accusamus corrupti cumque
    sunt doloribus excepturi, autem quas amet animi voluptatum tenetur officia?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, sint
    voluptatem. In enim magnam quis aut, sequi culpa nulla aspernatur sunt
    earum. Dignissimos explicabo quibusdam nesciunt rerum recusandae sit
    architecto?
  </p>
</section>
