
  
<!-- The Timeline -->

<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<div class="contenedor-exp">
					<h3 class="flag text-trabajo">Freelancer</h3>
					<span class="time-wrapper">2024 - Actualmente</span>
					<p class="desc">
						Actualmente me encuentro en busqueda de nuevos retos y proyectos para seguir creciendo profesionalmente.
					</p>
				</div>
			</div>
		</div>
	</li>
  
	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<div class="contenedor-exp">
					<h3 class="flag text-trabajo">Desarrolladora de software</h3>
					<span class="time-wrapper">2022 - 2023</span>
					<p class="desc">
						Estuve a cargo del desarrollo e implementación de un sistema web diseñado para la empresa ELITEISO S.R.L.
					</p>
				</div>
			</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<div class="contenedor-exp">
					<h3 class="flag text-trabajo">Webmaster</h3>
					<span class="time-wrapper">2020 - 2022</span>
					<p class="desc">
						Trabajé en la implementación de la plataforma Moodle y Landing Page en la empresa ELITEISO S.R.L.
					</p>
				</div>

				
			</div>
		</div>
	</li>
  
</ul>
