
  
<!-- The Timeline -->

<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag text-trabajo">Freelancer</span>
				<span class="time-wrapper"><span class="time">2024 - Actualmente</span></span>
			</div>
			<div class="desc">Actualmente me encuentro en busqueda de nuevos retos.</div>
		</div>
	</li>
  
	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag text-trabajo">Dessarrolladora de software</span>
				<span class="time-wrapper"><span class="time">2022 - 2023</span></span>
			</div>
			<div class="desc">Estuve a cargo del desarrollo e implementación de un sistema web diseñado para la empresa ELITEISO S.R.L.</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Webmaster</span>
				<span class="time-wrapper"><span class="time">2020 - 2022</span></span>
			</div>
			<div class="desc">Trabajé en la implementacion de plataforma Moodle y Landing Page en la empresa ELITEISO S.R.L.</div>
		</div>
	</li>
  
</ul>
