<!-- <form action="" role="form">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre">
    </div>
    <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" class="form-control" placeholder="Correo electrónico">
    </div>
    <div class="form-group">
        <label for="asunto">Asunto</label>
        <input type="text" class="form-control" placeholder="Asunto">
    </div>
    <div class="form-group">
        <label for="mensaje">Mensaje</label>
        <textarea class="form-control" rows="3" placeholder="Mensaje"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form> -->