/* You can add global styles to this file, and also import other style files */

@import 'material-symbols';
@font-face {
    font-family: 'OnestBold';
    src: url('./assets/fonts/Onest-Bold.ttf');
}
@font-face {
    font-family: 'OnestRegular';
    src: url('./assets/fonts/Onest-Regular.ttf');
}
@font-face {
    font-family: 'OnetsExtraBold';
    src: url('./assets/fonts/Onest-ExtraBold.ttf');
}
@font-face {
    font-family: 'OnestSemibold';
    src: url('./assets/fonts/Onest-SemiBold.ttf');
}
@font-face {
    font-family: 'OnestMedium';
    src: url('./assets/fonts/Onest-Medium.ttf');
}
@font-face {
    font-family: 'OnestThin';
    src: url('./assets/fonts/Onest-Thin.ttf');
}
@font-face {
    font-family: 'OnestLight';
    src: url('./assets/fonts/Onest-Light.ttf');
}


body {
  font-family: 'OnestRegular', 'sans-serif', 'Roboto';
  margin: 0;
  padding: 0;
  color-scheme: dark;
  background-color: #001c2a; 
}
h1{
    color: #E7FFFA;
    font-family: 'OnestBold';
    font-style: normal;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 3px;
    margin: 0;
    margin-top: 8px;
}
h2{
    color: #00BA95;
    font-family: 'OnestBold';
    font-style: normal;
    font-size: 24px;
    line-height: 2;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-wrap: balance;
}
p{
    color: #E7FFFA;
    font-family: 'OnestRegular';
    font-style: normal;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: none;
    text-wrap: balance;
}


ul li {
    color: #E7FFFA;
    font-family: 'OnestRegular';
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: none;
}
ol li {
    color: #E7FFFA;
    font-family: 'OnestRegular';
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: none;
}
a{
    color: #E7FFFA;
    font-family: 'OnestRegular';
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: none;
}
span{
    color: #E7FFFA;
    font-family: 'OnestRegular';
    font-style: normal;
    /* font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px; */
    text-decoration: none;
    text-transform: none;
    
}
button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border: 1.5px solid #00BA95;
    border-radius: 10px;
    background-color: rgba(0, 6, 22, 0.281);
    margin-top: 8px;
    margin-right: 5px;
    font-family: 'OnestThin';
    color: #E7FFFA;
    
}
button:hover{
    background-color: #00ba952a;
    color: #fff;
    cursor: pointer;
    animation: ease-in 2s;
}

@media screen and (min-width: 400px) {
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
    ul li {
        font-size: 18px;
    }
    ol li {
        font-size: 14px;
    }
    a{
        font-size: 12px;
    }
    span{
        font-size: 12px;
    }
    button{
        font-size: 12px;
    }
    
}